.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  transition: all 0.3s;
  box-shadow: none;
}

/* Light mode style */
.navbar {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
  border-bottom: none;
  animation: fadeIn 0.5s ease forwards;
}

/* Dark mode style */
[data-theme='dark'] .navbar {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(12px);
  border-bottom: none;
  animation: fadeIn 0.5s ease forwards;
}

/* Mobile dropdown menu */
.mobileMenu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: block;
  animation: slideDown 0.5s ease forwards;
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: none;
  box-shadow: none;
}

/* Dark mode mobile dropdown menu */
[data-theme='dark'] .mobileMenu {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(12px);
  border-bottom: none;
  box-shadow: none;
} 